[2012-10-04 08:17] sheebz opened #1 "phantomjs process does not exit after crash"
If application fails, it is impossible to create a new phantom-proxy instance without manually killing the hung phantomjs process.

[2012-10-04 08:19] sheebz opened #2 "method calls should return promises to avoid nesting callbacks"
Would like to have every method call return a Q promise so I can use .then functions as opposed to nesting callbacks.

[2012-10-04 08:20] sheebz opened #3 "CreateProxy options hash should be optional"

[2012-10-04 08:24] sheebz opened #4 "Need utility method for setting form values"
Casperjs has a method which takes an object of key/value pairs to set. Would like to do something like this.

[2012-10-07 02:53] #1 closed, assigned to sheebz

[2012-10-07 02:53] #3 closed, assigned to sheebz

[2012-10-22 00:02] JordanSlaman opened #5 "Not working with phantom 1.7.0"
I may very well be doing something wrong, but I can't find what's wrong with my code, and I keep getting this error:

server running already

node.js:201
        throw e; // process.nextTick error, or 'error' event on first tick
              ^
TypeError: Object #<ChildProcess> has no method 'unref'
    at /home/ubuntu/node_modules/phantom-proxy/lib/proxy.js:105:28
    at /home/ubuntu/node_modules

[2012-11-03 11:56] sheebz commented on #5
Sounds like unref might not be on your version of node.  Could you let me know what node version you are running?  Could you paste output from running "node --v" ?

[2012-11-05 23:28] JordanSlaman commented on #5
node --v is unrecognized.

node --version replies 'v0.6.12'

[2012-11-07 21:22] jokeyrhyme commented on #5
Works perfectly with Node.JS 0.8.14.

[2012-11-20 07:53] #5 closed, assigned to nobody

[2012-11-21 09:17] OllieJennings opened #7 "'undefined' is not a function (evaluating 'require('./webpage').create(this)')"
So l created a fresh node project with phatom-proxy, followed one of the examples in your readme.md file, and this is the error l was met with.

'undefined' is not a function (evaluating 'require('./webpage').create(this)')
/node_modules/phantom-proxy/lib/server/webserver.js:11
/node_modules/phantom-proxy/lib/server/webserver.js:164
/node_modules/phantom-proxy/lib/server/webserver.js:165

I am cur

[2012-11-22 15:07] sheebz commented on #7
looking into it

[2012-11-30 13:22] sheebz commented on #7
this specific bug is fixed on ubuntu, however several unit tests are not passing for ubuntu, so I'm hesitant to say that its working perfectly there.

[2012-11-30 13:23] #7 closed, assigned to nobody

[2012-11-30 13:24] #2 closed, assigned to nobody

[2012-11-30 19:17] toranb opened #8 "Unknown module ./server for require()"
Using node 0.8.9

I recently decided to leave the original phantom npm project as it's not maintained and yours appears to be the most active. In doing so I've run into an error that says

Unknown module ./server for require()

When I try to spin up an express web server, then the proxy to scrape the page being hosted. I can hit the express web app while my npm code is running so it doesn't appear

[2012-12-01 00:33] agurha opened #9 "Error: cannot access member `statusCode' of deleted QObject"
Hi ,

Im getting error on ubuntu

Error: cannot access member `statusCode' of deleted QObject",[{"file":"/home/ubuntu/www/node_modules/phantom-proxy/lib/server/webpage.js","line":117,"function":""}]]

Would you be able to find out why am i getting this ?. The same code works fine on my mac.

Many thanks,
A

[2012-12-03 01:54] sheebz commented on #8
Hi, what OS are you using?

[2012-12-03 01:57] sheebz commented on #9
Hi, I suspect that phantom/Webkit is doing some cleanup and you are accessing an object that has been deleted.  Is it possible that you are trying to access a page after proxy.end has fired?  There could also be a bug here, I haven't been able to get all the unit tests to pass on ubuntu.

[2012-12-03 02:00] sheebz commented on #8
might be a problem with the ./ paths in server/index, does it work if you change ./ server to absolute path in server/index.js?

[2012-12-03 02:20] toranb commented on #8
Found this was a problem on both OSX 10.8.2 and Ubuntu 12.10. -so about the path suggestion ... this is something that would need to change in the underlying node.js app (correct?). Where would I change this if the code for that node app looks something like the below?

https://gist.github.com/4192196

[2012-12-18 09:06] estliberitas commented on #9
I have the same issue. And it's not caused by dead or end()-ed proxy object. It's caused by callback which can be called twice. I had this error thrown here (`includeJs()`):
https://github.com/sheebz/phantom-proxy/blob/master/lib/server/webpage.js#L102

I did simple check:
http://gyazo.com/2373fbf2404df9192f69884ab56ad79e
And what I saw in console:
http://gyazo.com/c5da0cd246d20c8becaeedaea8241a27

[2012-12-18 09:45] estliberitas commented on #9
Also using https://github.com/sgentle/phantomjs-node I had the same issue with `page.open` as @agurha mentioned. So I'm doing pull-request.

[2012-12-27 11:50] jonbuffington opened #11 "Using proxy.page.set with PhantomJS 1.8.0 always returns false even if the operation succeeds"
Using _proxy.page.set_ with PhantomJS 1.8.0 always returns false to the callback function even if the operation succeeds. The debug output does not indicate any problems.

A source snippet is:

[code]

The debug output snippet is:

[code]

[2012-12-29 03:04] AndrewRayCode opened #12 "resourceReceived not supported?"
I see it commented out in `examples/cucumber/feature/support/world.js` and it doesn't exist in `lib/server/webpage.js` ?

It's documented as an event but it doesn't seem to ever fire.

[2012-12-29 04:07] AndrewRayCode opened #15 "Consider making callbackFn always the last parameter"
`evaluate(functionToEvaluate, callbackFn, [arg1, arg2,... argN]`

I think this would be better written as:

`evaluate(functionToEvaluate, [arg1, arg2,... argN], callbackFn`

It's more node-ish, and it's more phantom-ish

[2012-12-29 08:56] AndrewRayCode opened #16 "evaluate does not allow you to return a json object"
According to the phantomjs docs:

Note: The arguments **and the return value to the evaluate function must be a simple primitive object.** The rule of thumb: **if it can be serialized via JSON, then it is fine.** Closures, functions, DOM nodes, etc. will not work!

Right now, if you return an object in an evaluate function, you get back string `"[object Object]"` which is undesired. JSON results s

[2012-12-29 09:21] AndrewRayCode commented on #16
ok, well I have no idea where to look, but this is a fine test for it:

[code]

[2012-12-29 11:06] AndrewRayCode opened #18 "Literally none of the events work"
[code]

Even with my branch, none of the events do anything. ugh. since google auto-focuses the input box, typing in it should make 'a' show up in there. it doesn't. click events don't work either. furthermore, this means none of the event tests matter, because they pass erroneously. I will look at it more in the morning but this is some new craziness. I would seriously consider close sourcing thi

[2012-12-29 22:19] AndrewRayCode commented on #18
A slightly more robust test to expose this sad fact:

[code]

[2012-12-31 02:00] tuzemec opened #19 "Post?"
Is it possible to emulate the phantomJS post feature as in this example: https://github.com/ariya/phantomjs/blob/master/examples/post.js

[code]

[2012-12-31 18:42] AndrewRayCode opened #20 "Does this library use alerts for communication or not?"
lib/proxy.js

[code]

I don't know if this code gets executed or what, but the readme says this doesn't rely on alerts for communication. is this some weird legacy code, or is the readme a lie?

[2012-12-31 20:30] AndrewRayCode commented on #18
Addressed in https://github.com/sheebz/phantom-proxy/pull/21

[2013-01-01 23:06] sheebz commented on #20
no, it doesn't rely on alerts.  I have had problems with the communication part and have tried a few different strategies, the one that's currently in there uses socket.io implementation that was taken from node-phantom.

[2013-01-01 23:07] sheebz commented on #20
Good callout though, I should be able to safely remove the alert part.

[2013-01-01 23:13] #20 closed, assigned to nobody

[2013-01-01 23:25] AndrewRayCode commented on #20
<3

[2013-01-01 23:26] sheebz commented on #18
Looks like my implementation and tests were a bit naive.  Yes I agree, this lib may not be 100% percent ready, but unfortunately there is not a suitable alternative node based proxy available to the best of my knowledge - node-phantom and phantom-node are missing critical things such as evaluate parameters.  In my defense this is a fairly new addition to phantom-js.

Thanks for the help in address

[2013-01-01 23:26] #18 closed, assigned to nobody

[2013-01-01 23:34] sheebz commented on #16
Yeah, based on api docs, you appear to be correct.  I will look into this.  In the mean time,  you should be able to work around it by calling JSON.stringify(object) in the client side function, then JSON.parse in the callback.

[2013-01-01 23:36] sheebz commented on #15
Yeah, I think that makes sense.  This would be a breaking change though, I'm hesitant to implement.

[2013-01-01 23:37] #12 closed, assigned to nobody

[2013-01-02 04:22] AndrewRayCode opened #25 "No apparent way to access page settings"
for example, if I want to set the userAgent

I tried adding a regular plain old settings object to the page

[code]

but those settings do not translate to the phantomjs page.

I tried something like this:

[code]

but that just hangs forever. **can you tell me where things like this are documented:**

[code]

Is that a phantom exposed thing? I can't find any documentation about it.

[2013-01-02 06:20] harryfei opened #26 "Multiple pages support"
Do you have a plan to support open multiple pages?
Sometimes, we need it.

[2013-01-03 01:34] AndrewRayCode commented on #26
are there other libraries that support this? and does phantomjs actually support this?

[2013-01-03 01:44] AndrewRayCode commented on #11
I can verify this on 1.8. the call returns nothing for body either, it is empty.

[2013-01-03 10:04] sheebz commented on #25
Well, there's page.set - which allows you to specify the property name, and value.  It's documented in the page object, also in unit tests:

example:

[code]

[2013-01-03 10:06] AndrewRayCode commented on #25
This ticket is fixed by the PR you merged, https://github.com/sheebz/phantom-proxy/pull/27

[2013-01-03 10:11] sheebz commented on #25
Yeah, I did merge, can you verify that page.set('settings', {}) does not work?  If it does work, I think we should revert this pull request.

[2013-01-03 10:24] sheebz commented on #26
Short answer is not at this point.  I think it would add unnecessary complexity to the interface at this point.  You might want to look into the version 1.8 webdriver implementation for this if you really need it.

DelvarWorld - I believe that phantom does support it as page.create() returns a local variable.  I'm not sure I see the benefit of having multiple pages though - maybe to simulate tabs?

[2013-01-03 10:24] #26 closed, assigned to nobody

[2013-01-03 10:30] AndrewRayCode commented on #11
addressed in https://github.com/sheebz/phantom-proxy/pull/28

[2013-01-03 10:33] AndrewRayCode commented on #25
ah. that does appear to work. I suppose it could be slightly annoying if you want to set only one page setting, you'd have to get the whole thing, then modify the object, then re-set it, otherwise you'd clobber previously set settings. for that reason I argue for keeping it. but I leave it up to you. If you revert, I will make a separate PR that includes the 2 new tests, and update the readme to e

[2013-01-03 21:17] AndrewRayCode commented on #25
after sleeping on it, I personally think we should leave both options in, and document the way to set multiple settings at once, and a single setting (using this pr). this change does not remove or change any existing functionality, so there's no reason to remove it.

[2013-01-10 02:22] AndrewRayCode opened #30 "Consider transferring ownership of this project to me"
Has the time come? I am currently heavily invested in the proxy, and have made many critical changes, and right now am more active in the project.

I'm not sure what your current involvement is, but I would like to see faster bug fixes if possible, of which transferring ownership would help.

[2013-01-10 23:09] estliberitas commented on #30
:+1: for transfer

[2013-01-10 23:20] estliberitas commented on #30
Also I'm interested in total reformatting of code (seems no coding convention is used now) and refactoring of code. Can help w/ this thus now my projects are very connected with phantom and this node.js module.

[2013-01-10 23:29] AndrewRayCode commented on #30
agreed. I'm also pretty sure everything in `lib/request` should be a submodule, or even just a dependency, but I need to look through the logs to make sure he hasn't modified it

[2013-01-11 02:16] throughnothing commented on #30
:+1:

[2013-01-11 02:16] kevzettler commented on #30
:+1:

[2013-01-11 02:17] ironcamel commented on #30
:+1:

[2013-01-11 02:17] AndrewRayCode commented on #30
:8ball:

[2013-01-12 11:28] pwlmc commented on #30
:+1:

[2013-01-13 21:46] sheebz commented on #30
@DelvarWorld I understand you guys are heavily invested in this, and I appreciate the investment you guys have made.  I have made a pretty significant investment as well.  I have not had the luxury of owning a successful project before.  I'm not going to transfer ownership, but I will look into giving administrative control to a reliable contributor.

[2013-01-13 21:47] estliberitas commented on #30
@sheebz okz, bro, understand ya too :)

[2013-01-13 21:48] sheebz commented on #30
@estliberitas Not opposed to it, but need more info there.  Please explain what convention you think should be used and how it would benefit this project.

[2013-01-13 21:52] sheebz commented on #30
@DelvarWorld the reason request is in lib is because I had to modify it to get it to work with phantomjs.   Unfortunately, the phantomjs server module expects a sentence case Content-Length header.  The request lib sends a lower case version of the header.  It was an expedient solution, if there is a cleaner way to do it I'm all for it.

[2013-01-13 22:01] sheebz commented on #25
Ok, I think thats fine

[2013-01-13 22:01] #25 closed, assigned to nobody

[2013-01-13 22:01] #4 closed, assigned to nobody

[2013-01-13 22:02] estliberitas commented on #30
@sheebz for example:
- do not wrap Node.js scripts into self-invoking functions, thus code is always gets wrapped by node;
- clean out of comments - as for me, really annoying, readability suffers;
- maybe use 2 indent for compact code;
- all the vars which will be used in any case for given func, should be defined at the beginning of the func in order of their first assignation - +5 to readabilit

[2013-01-13 22:04] sheebz commented on #9
addressed in issue #10

[2013-01-13 22:04] #9 closed, assigned to nobody

[2013-01-13 22:15] sheebz commented on #30
@estliberitas
- Ok, I guess that makes sense, I was under the impression that using IIFEs was a best practice, maybe not for node modules?
- By clean out comments, do you mean get rid of all comments?  There's not a ton of comments to begin with, but there are some spots that at least require an explanation.  I'll can an issue to remove unneeded comments.
- I'm not a fan of 2 space tabs, but I'm n

[2013-01-13 22:17] sheebz opened #35 "Add Grunt"
for building, automated testing, linting.  Should address some of the concerns raised in #30

[2013-01-14 03:44] #30 closed, assigned to nobody

[2013-01-14 04:16] AndrewRayCode commented on #30
fyi, 2 spaces are the devil and only used by people with bowel problems. +1 for 4 spaces

[2013-01-14 06:06] estliberitas commented on #30
@DelvarWorld go, say this to express, Node, connect devs, ok?

[2013-01-14 11:07] jonbuffington commented on #11
@sheebz I just tested using phantom-proxy@0.1.791 and this issue is still open. Unfortunately, I have not had time to track down the root cause yet.

[2013-01-14 13:16] sheebz commented on #11
Looks like @DelvarWorld s change here got clobbered in merge.  going to try reapplying.

[2013-01-14 13:22] sheebz commented on #11
@jonbuffington can you check if this fixes the problem?

[2013-01-14 14:06] jonbuffington commented on #11
@sheebz Thanks for re-opening! This issue is resolved in phantom-proxy@0.1.791.

[2013-01-14 19:19] sheebz commented on #11
No problem

[2013-01-14 19:19] #11 closed, assigned to nobody

[2013-01-14 22:23] AndrewRayCode commented on #30
they already have bowel problems, so they won't listen. we can escape that madness, though.

[2013-01-14 22:36] estliberitas commented on #30
Your argument "I do not like smth." is not an argument, dude. At least I
have no problems viewing code with 2-space indentation, if code is written
well. From the other side I see that in some cases we have 16-24 chars
indentation - pyramids of doom were the reason of promises development. So
if we have callback'd code it's better to keep it compact.

Maybe, Andrew, you will oppose in such way rat

[2013-01-15 08:33] estliberitas opened #36 "Multiple proxies are supported?"
Hi, guys. It seems that right now we can't create 2+ instances of proxies. When I try to do `require('phantom-proxy').create(fn)` several times, module spawns two processes with different PhantomJS options (as in my case), that works fine. But when I do `proxy.page.open()` for each proxy, I get various errors. Seems like proxies share smth. and are not fully separated.

Also, I have different `opt

[2013-01-15 20:21] dmdeklerk commented on #36
I sure hope that's not the case. Why would this not be possible? I was kinda expecting this would be possible.

[2013-01-16 21:25] estliberitas commented on #36
Right now when I create two proxies I begin to issue strange behavior: pages are not loading, or empty page, or evaluation does not work and other bad things. Please, can you confirm that multiple proxies won't do a mess with each other?

[2013-01-16 22:18] estliberitas commented on #36
The latest experience showed that if I do clean of require.cache and then do `require('phantom-proxy').create()` it acts fine!

[2013-01-17 14:36] dmdeklerk opened #37 "Unused (?) option eventStreamPath, or is it."
Please explain what the option "eventStreamPath" does?
Please see its usage here: https://github.com/sheebz/phantom-proxy/blob/master/lib/proxy.js#L271
Seems like it is not used in phantom-proxy as it is not even passed to phantomjs.

[2013-01-17 14:44] dmdeklerk commented on #36
It seems to me that lib/proxy.js should not be creating servers on port 1061 without checking if another server is running there already. When doing a check for existing ports given to runnning phantom-proxy instances, you can allow multiple instances without requiring the user to supply a port.

[2013-01-17 15:00] dmdeklerk commented on #36
Also the way you create your http server in lib/proxy.js looks like it could get you into trouble when running multiple phantom-proxy instances at the same time. I'm no expert on the http module but when running multiple instances one would think you must be able to provide a port yourself and not rely on the http module to choose one as can be seen at: https://github.com/sheebz/phantom-proxy/blob

[2013-01-18 00:13] kevzettler opened #38 "Why is the exit handler commented out?"
Why is this commented out?

https://github.com/sheebz/phantom-proxy/blob/master/lib/proxy.js#L81

I believe this is causing zombie phantomjs processes to pile up and requires a `killall`

[2013-01-18 00:24] kevzettler commented on #36
I don't think multiple proxies, and hence multiple Phantomjs instances is the way to handle this. You can have a single Phantomjs process open up multiple pages and act in parallell. However this library dosen't seem to support that either.

[2013-01-18 00:28] kevzettler commented on #15
This is standard node.js convention.

[2013-01-18 00:52] kevzettler opened #39 "No need for custom request dependency"
Regarding the modifications to lib/request.js mentioned: https://github.com/sheebz/phantom-proxy/issues/30#issuecomment-12200992

http-headers are supposed to be case insensitive I know @mikeal of request has been adamanat about this.
http://stackoverflow.com/questions/5258977/are-http-headers-case-sensitive

Sounds like a bug with the phantomjs server.

[2013-01-19 04:42] sheebz commented on #39
Basically would need a simplified version of request, maybe just use native node api.  Probably wouldn't be too bad given that we have pretty consistent request patterns and don't need a lot of other stuff in there.  Not to high on my priority list, but if someone wrote a patch I'm all for it.

[2013-01-19 04:44] sheebz commented on #15
@kevzettler, yeah I wasn't aware of this when I originally wrote fn.  If there is enough interest I will change it.

[2013-01-19 04:53] sheebz commented on #36
As @dmdeklerk mentioned, you can specify a port for the server to run - each server is basically an instance. You will also need to specify a different _clientport_ value, clientport is the socket.io callback channel - used mostly to remote events from server object.

This is how I would expect it to work, I haven't actually run significant tests in this way other than verifying that the server wa

[2013-01-19 05:01] estliberitas commented on #36
No problems, guys. When I'm near PC I'll send ya code.

I have tried setting different ports and saw that app creates different
HTTP servers w/ socket.io, but after some time they were dying leaving only
one HTTP server and PhantomJS instance. Why? That is a question. I think
the issue may be connected with some event listeners of socket.io, proxy or
some global referenced variable...

After I add

[2013-01-19 05:04] sheebz commented on #38
Ive switched this code back and forth a few times.  There is a performance advantage to keeping the server up - no startup cost if server is already up.  On the other hand you have to call exit or you'll get zombies like you said.  Can you make sure your code is calling exit and waiting for callback to complete?

[2013-01-19 05:09] sheebz commented on #37
@dmdeklerk, its legacy code, not used anymore and should be removed.  In the beginning I had some struggles with finding an efficient way to get notifications from server - a deprecated solution was to have server write events to file, then have client listen for file changes and parse events from filestream.  We are now using socket.io which has worked out pretty well so far. I will clean up refe

[2013-01-19 05:09] #37 closed, assigned to nobody

[2013-01-19 05:11] sheebz commented on #38
Maybe we should close all processes by default, then provide an option to keep open?

[2013-01-19 18:46] capaj commented on #8
I have the exact same issue on Ubuntu 12.10. I tried supplying the absolute path and it did change the warning to:
"Unknown module /home/capaj/WebstormProjects/dem2cz_node_app/node_modules/phantom-proxy/lib/server/server.js for require()" so it is the problematic spot, but changing it to absolute path does not fix it. Does anyone has proper solution?

[2013-01-20 00:38] sheebz commented on #8
This has been very difficult to track down.  The fact that a full path works is puzzling.   The node version, phantom version, stack trace, any other info would help.

[2013-01-20 02:34] JimminiKin opened #40 "Debian "undefined is not a function""
Just installed phantom-proxy from npm. Ran the first example of the readme.md ( the one with waitForSelector ) and got the following result :

[code]

Debian Squeeze
Node v0.8.17
PhantomJS 1.8.1

... I was finishing this post when I tried the other waitForSelector example of the readme, which worked fine. I may be wrong but the end() method is called on "proxy" on the first example and I made it w

[2013-01-20 16:17] capaj commented on #8
I found the problem- I had phantom 1.4 on my system, because I got it from Ubuntu repository, where it was not updated for quite some time. Phantom-proxy works without any problem after I built myself phantomjs 1.8.1. I think this bug is obsolete and can be closed.

[2013-01-20 16:35] simontabor commented on #26
Having multiple pages is kind of useful if you don't want the ridiculous overhead of booting phantom for every page request. Makes this module, unfortunately, useless for many services looking to run phantomjs properly in production. Say, for example, you're handling 5 req/s and that means booting 5 phantomjs'/sec which is crazy.

I urge you to look into this again! phantomjs-node is truly awful.

[2013-01-20 17:13] simontabor opened #41 "Add support for aborting requests"
https://code.google.com/p/phantomjs/issues/detail?id=230

Is this possible? Would be really handy

[2013-01-20 21:21] AndrewRayCode commented on #26
@simontabor I agree that having a non 1:1 phantom interface is annoying. Can you give a possible use case for multiple pages? Making this change will probably require a very large refactor, do knowing what would make for good tests will be helpful. And yeah, the other node driver options for phantom are awful :)

[2013-01-20 21:31] simontabor commented on #26
@DelvarWorld I took a look and it probably would be a fairly large refactor, happy to help out if needed.

Yeah sure, it's mainly for when using phantomjs to actually serve as an API to users, for example as a thumbnailing service where you might be wanting to render 10+ images at the same time (or any number, for that fact). AFAIK, phantomjs itself will only be single threaded so for higher numbe

[2013-01-21 00:12] sheebz commented on #41
Looks like its slated for version 1.9, which is probably a good 6 months or so out at least.  But I believe we will be able to make this work.

[2013-01-21 00:13] sheebz commented on #8
@capaj thanks for the info! Was a little bit concerned about this one.

[2013-01-21 00:13] #8 closed, assigned to nobody

[2013-01-21 00:15] simontabor commented on #41
Ah damn, good spot - thought it was in 1.8. Good news it should possible, shame I'll have to wait :(

Thanks

[2013-01-21 00:15] #41 closed, assigned to nobody

[2013-01-21 04:07] kevzettler commented on #38
I think the most natural and expected behavior is to close the phantomjs process by default. I find that leaving it open the phantom-proxy dosen't always reconnect and spins up additional processes. Phantomjs will also crash and have strange behavior with multiple instances running.

[2013-01-21 12:25] toranb opened #42 "How to wait for all js to be loaded?"
I'm loading up some javascript in the page phantom-proxy is opening and I'm not sure how to "waitFor" all the js to be loaded

[code]

[2013-01-21 12:34] toranb commented on #42
Also inside the waitForSelector block how can I get to the dom to lookup attributes / other elements on body?

[2013-01-21 12:49] capaj commented on #42
I wait for an element with specific ID- #content for example. Element #content is generated by JS, so I won't get the callback until my JS app is all loaded.
You can run page.evaluate(function(){ return x;}, function(x){ //do stuff with returned x here}) to run any javascript on the page.

[2013-01-21 23:36] toranb commented on #42
I could wait for an element as you mentioned but what is the syntax to wait for a div with a specific class? such as

div class="jasmine_reporter"

Also can I do the page.evaulate (as you showed) inside the page.open block or instead of it or ?

[2013-01-22 00:04] toranb commented on #42
Here is what I have currently

[code]

Currently the part that says "app.webserver.listen(8091);"

is where I spin up a node based express website hosting just an index.html page (that I can see is working when I pause the process)

Yet I get a 404 -could the internal webserver phantom-proxy is using interrupt this in some way?

Thank you

[2013-01-23 22:17] sandinmyjoints commented on #15
+1

[2013-01-24 00:28] yasinuslu opened #43 "instead of returning data on evaluate, calling a function with return data"
When using evaluate() function we should be able to use a callback function for async functions.

[code]

I considered using evaluateSync() but it doesn't have any option to return a data.

[2013-01-27 22:51] toranb opened #45 "How to open a web page and console log the dom?"
I'm new to the phantom-proxy project and I'm looking for a very basic example that shows how to open some public website and print the contents of the dom

I couldn't find a detailed example of this word for word in the README so I'm asking here.

Thank you in advance

[2013-01-31 01:17] toranb commented on #45
I upgraded to node-phantom instead -couldn't seem to get a response here and the library didn't seem to fit what I was trying to do.

[2013-01-31 01:17] #45 closed, assigned to nobody

[2013-01-31 01:18] toranb commented on #42
closing this -no response (upgraded to node-phantom instead)

[2013-01-31 01:18] #42 closed, assigned to nobody

[2013-01-31 09:27] skotchio opened #46 "Error: cannot call function of deleted QObject;"
I'm trying to get screenshot one of me page site in pdf file. I'm using expressjs on a server side:

   var phantomProxy = require('phantom-proxy');

[code]

But unfortunatelly the pdf file creates partially, and I'm getting not all content and also I'm getting the following error message:

[code]

Can you help what's my problem?
P.S: Page that I want to convert to pdf has many css and js files (i

[2013-02-04 14:23] john-clarke commented on #26
I have another use-case for a multi-page PhantomJS server. I'd like to use a node.js + phantom-proxy stack to rasterize D3.js visualizations as PNG. A simple example is a pie chart template for which I can inject the chart parameters and render a new pie chart PNG. The inject + page.render() process takes about 50-100ms plus ~2 seconds to open the visualization/page initially. In a production envi

[2013-02-05 00:18] AndrewRayCode commented on #26
@sheebz can you please reopen this and mark it as an improvement?

[2013-02-06 12:56] dmdeklerk opened #48 "Why not use ghostdriver (webdriver wire protocol build into phantomjs)"
It seems like what this project is about (driving phantomjs over network calls) is exactly what was build into version 1.8 of phantomjs.

Dont you think it would be better if you only write the nodejs part of the driver and used the webdriver code already in phantomjs? Code you dont write is the best code!

It seems like there are implementations available from selenium in Ruby, Java, PHP, Python

[2013-02-11 09:10] skotchio opened #50 "proxy.page.set dosen't work"
Here is the example:

[code]

At the end of story I get test.png file with the default 400x300 dimensions.

[2013-02-16 20:25] capaj opened #51 "Error when calling page.evaluate with a function, which contains regexp"
Whenever I call page.evaluate with any of these two types of defining regex:

[code]

or

[code]

I get this error:

events.js:73
        throw new Error("Uncaught, unspecified 'error' event.");
              ^
Error: Uncaught, unspecified 'error' event.
    at EventEmitter.emit (events.js:73:15)
    at parseResponse (D:\Github\psp.cz-scraper\node_modules\phantom-proxy\lib\proxy.js:124:50)
    at

[2013-02-18 12:50] reverie commented on #50
Contrary to the docs, I had to use page.set('settings, {..}) just to set the userAgent. Maybe the same thing will work for you.

[2013-02-18 16:35] reverie commented on #50
Yes, try page.settings.set('paperSize', ...).

I'd also try removing any calls to page.get, as that was triggering a crash later on for me. (No idea why.)

[2013-02-19 19:51] cjroebuck opened #52 "doesnt work with nytimes.com"
crashes phantomjs

[2013-02-23 00:06] AndrewRayCode commented on #46
i'm curious if you still get the error after removing res.json() ? This error usually happens after you try to tell a deleted phantom instance to do something

[2013-02-26 03:54] AndrewRayCode commented on #52
what does that have to do with phantom proxy?

[2013-02-26 10:58] cjroebuck commented on #52
It works using phantomjs on its own. With phantom proxy it crashes, so I'm assuming phantom proxy is causing that

[2013-02-26 20:45] AndrewRayCode commented on #52
what does "doesn't work" mean? what works with phantomjs on its own?

[2013-03-02 17:42] CrisFavero opened #53 "phantom-proxy does not properly detect if phantomjs does not start."
I noticed this bug during an initial install on a machine that had not previously had phantomjs installed and so therefore was not in the path. Albeit this was my mistake, there are other cases in which this could happen and should be reported.
There are several possible solutions to this depending on how you best see it work with the  current flow including throw an exception, return null/false f

[2013-03-02 17:49] CrisFavero opened #54 "path of phantomjs should be available as an option for non standard installs"
In finding issue #53 i would also suggest that the location of phantomjs be available as an option for input as in many hosting cases the binaries may not necessarily be available in the  path and have an alternative location.

This should operate such that if the option is not set the fall back is to use the current phantomjs hardcoded in.

[2013-03-06 18:12] WoZ opened #56 "Few phantom proxy instances"
I noticed that I can't create few instances of phantom proxy. Connection with previously created instances brokes every time I call phantomProxy.create because it rewrites context. How can I solve this problem? Thanks.

[2013-04-02 06:43] gkorland opened #58 "Error: spawn ENOENT with node v0.10.2"
"Error: spawn ENOENT" is thrown on every run.

[2013-04-08 12:09] WoZ commented on #56
Simple hack. You should fake context and save it to call end method.

[code]

[2013-04-08 12:09] #56 closed, assigned to nobody

[2013-04-21 12:29] sunki opened #59 "redirect debug output to a file"
None of the following methods work for debug info, I still see it in the terminal only (Ubuntu 10.04):

[code]

The only way to do this is:

[code]

(where p is phatomjs PID)

[2013-04-21 18:13] sunki commented on #36
@kevzettler: It seems that multiply pages per one instance are not supported, see for example:
http://stackoverflow.com/questions/10353833/phantomjs-unexpected-load-behavior-with-multiple-pages
and https://github.com/dodysw/phantomjs/commit/f2047de19f80dc48acb241894611f57f6cdf1e73
(I'm also getting strange behaviour in this case).

@estliberitas: Can you describe pls what should I do to run multip

[2013-04-21 23:28] estliberitas commented on #36
@sunki: hey, bro, you should clean all the entries having 'phantom-proxy' string in `require.cache` map thus it keeps paths to source files and not module names. My cleaning code is:

[code]

Did you get the idea?

[2013-04-23 22:01] fortes opened #60 "Missing `content` property on page object"
The [PhantomJS colorwheel example](https://github.com/ariya/phantomjs/blob/master/examples/colorwheel.coffee) makes use of `page.content` in order to set document HTML.

Related: Looks like there are a few other properties missing from the Page object, per this document: https://github.com/ariya/phantomjs/wiki/API-Reference-WebPage#wiki-webpage-content

[2013-04-26 11:35] sunki commented on #36
@estliberitas Thanks a lot. Cant say if it usable or not cause Im getting **Error: cannot access member `statusCode' of deleted QObject** now.

[2013-04-26 11:39] estliberitas commented on #36
Oh, I was getting this kind of error some time ago. Googling helped me a
bit. These was already issue with this error here. ;)

On Fri, Apr 26, 2013 at 3:36 PM, sunki notifications@github.com wrote:

##

Sincerely,
Alexander Makarenko

Curriculum vitae: http://liberitas.info/cv
Cell.: +7 988 517 0645
Skype: estliberitas

[2013-04-28 15:32] skotchio commented on #60
Yes I have this problem too. But it seems that repos does not supported anymore :(

[2013-04-30 11:12] ghost commented on #16
@sheebz bump

[2013-05-03 19:01] rheingolden commented on #19
I agree it would be very useful to be able to http POST to a page in the way shown in the example cited above. Is there any other way of achieving that in the current version?

[2013-05-09 08:40] WoZ commented on #36
@sunki Look at my issue #56.

[2013-05-09 09:02] estliberitas commented on #56
Hah, cool, will check :)

[2013-05-10 17:22] mikecluck opened #61 ""Fatal error: undefined is not a function" when running Mocha tests"
Tests:

[code]

Output:

[code]

My assumption is this has to do with circular dependencies.

[2013-06-11 16:08] #50 closed, assigned to nobody

[2013-09-01 04:00] ghost commented on #46
Ran into this issue as well while setting up a phantom proxy server, interesting that my error (cannot call function of deleted QObject) was related to routing as well.

My issue was that I had multiple routes matching, when response.close() was being called twice it would throw the error.

Its likely this is the case for you as well.

[2013-09-01 04:38] AndrewRayCode commented on #46
This library is abandonware. Please do not use it.

[2013-09-01 05:03] ghost commented on #46
oops, just ran upon this while goggling my error. didn't look at the URL and thought this was a phantomjs issue (was writing my own phantomjs communication webserver)

[2013-09-11 20:05] jacoblarsen opened #63 "Complete cucumber example"
You have provided a nice example of the world.js part of a cucmber feature.
It would be most helpful if someone provided a full running example of a cucumber test using phantom-proxy.

Thanks

/Jacob

[2013-10-01 00:35] CMCDragonkai opened #64 "Concurrent Pool of PhantomJS processes"
Is it possible to use this library to create a pool of long running phantomjs processes that runs tasks off a queue of sites to scrape?

I would like to have a pool of 10 processes, and use potentially a redis queue to queue up tasks. Then one by one the tasks would be finished by the phantomjs processes and they will then return the scrape to either another queue or send it back to the initiating

[2013-10-03 10:11] #64 closed, assigned to nobody

[2013-10-29 02:51] GCheung55 commented on #51
++

[2013-11-20 07:01] sushma opened #66 "ubuntu "Can't find variable: process""
Just installed phantom-proxy from npm. Ran the first example of the readme.md ( the one with waitForSelector ) and got the following result

ReferenceError: Can't find variable: process
  /home/aashish/node_modules/phantom-proxy/lib/proxy.js:285
  /home/aashish/node_modules/phantom-proxy/lib/proxy.js:289

TypeError: 'undefined' is not a function (evaluating 'phantomProxy.create')
  phantomtest.js:

[2014-01-02 15:20] kokujin opened #67 "Example using cookies, injectJS"
Can someone post code or point me to examples using injectJS() and a cookie file? Thanks

[2014-02-01 01:20] dstevensio commented on #60
You can get this from page.get and page.set, I found today.

[code]

[2014-08-24 23:48] cvan opened #69 "Usage examples do not work out of box"
# Example 1

Even after "body tag present" (and "done") being printed to stdout, it takes roughly 15 seconds for the process to end. I also encountered this error, before passing a function to `proxy.end`:

[code]
# Example 2

Missing the `require` for the `assert` library:

[code]
# Example 3

`self` should be `this`:

[code]

[2014-10-06 14:15] #69 closed, assigned to nobody

[2014-11-24 06:29] mark-hahn commented on #54
+1

[2015-10-10 21:01] mpetrovich commented on #54
+1

The lack of a binary path option makes this library non-portable.

[2016-09-30 07:19] roman4e commented on #7
Still have this error on version 0.3.0
[code]

[2016-09-30 07:20] roman4e opened #72 "create() is not a function"
I have version 0.3.0 (the latest on 30 september 2016)

[code]

[2016-09-30 07:40] #72 closed, assigned to nobody

[2017-06-10 15:43] digitalgoodsprovider opened #73 "Unsafe JavaScript attempt to access frame with URL"
https://github.com/sheebz/phantom-proxy#render-a-screenshot

Gives me error

Unsafe JavaScript attempt to access frame with URL about:blank from frame with URL file:///home/main/node_modules/phantom-proxy/lib/server/index.js. Domains, protocols and ports must match.

even with these options

[code]

[2017-07-07 16:28] mikecluck commented on #61
This hasn't been worked on in years and I'm not using this software anymore. So in the interest of cleaning up my Issues queue, I'm closing this.

[2017-07-07 16:28] #61 closed, assigned to nobody

[2018-10-31 19:02] #43 closed, assigned to nobody

[2019-09-23 14:54] #54 closed, assigned to nobody

[2019-09-23 14:55] #53 closed, assigned to nobody